[package]
authors = ["Jason Ozias <jason.g.ozias@gmail.com>"]
categories = ["development-tools", "development-tools::build-utils"]
description = "Common code used to support the vergen libraries"
documentation = "https://docs.rs/vergen-lib"
edition = "2021"
homepage = "https://github.com/rustyhorde/vergen"
keywords = ["cargo", "instructions", "build", "tool"]
license = "MIT OR Apache-2.0"
name = "vergen-lib"
readme = "README.md"
repository = "https://github.com/rustyhorde/vergen"
version = "0.1.2"

[package.metadata.cargo-matrix]
[[package.metadata.cargo-matrix.channel]]
name = "default"
always_deny = ["unstable"]

[[package.metadata.cargo-matrix.channel]]
name = "nightly"
always_deny = []
always_include = ["unstable"]

[[package.metadata.cargo-matrix.channel]]
name = "llvm-cov"
always_deny = ["emit_and_set"]
always_include = ["unstable"]

[features]
default = []
build = []
cargo = []
emit_and_set = []
git = []
rustc = []
unstable = []
si = []

[dependencies]
anyhow = "1.0.79"
derive_builder = "0.20.0"
getset = "0.1.2"

[build-dependencies]
rustversion = "1.0.14"

[dev-dependencies]
serial_test = "3.0.0"
temp-env = "0.3.6"
test_util = { path = "../test_util" }

[package.metadata.docs.rs]
features = ["build", "cargo", "git", "rustc", "si"]
rustdoc-args = ["--cfg", "docsrs"]
