[package]
authors = ["Jason Ozias <jason.g.ozias@gmail.com>"]
categories = ["development-tools", "development-tools::build-utils"]
description = "Generate version related functions"
documentation = "http://docs.rs/vergen"
edition = "2018"
homepage = "http://github.com/rustyhorde/vergen"
keywords = ["version", "generation"]
license = "MIT/Apache-2.0"
name = "vergen"
readme = "README.md"
repository = "https://github.com/rustyhorde/vergen"
version = "3.2.0"

[dependencies]
bitflags = "1"
chrono = "0"
rustc_version = "0"

[build-dependencies]
chrono = "0"