[package]
authors = ["Jason Ozias <jason.g.ozias@gmail.com>"]
categories = ["development-tools", "development-tools::build-utils"]
description = "Generate build, git, and rustc related 'cargo:rustc-env' instructions via 'build.rs' for use in your code via the env! macro"
documentation = "http://docs.rs/vergen"
edition = "2018"
homepage = "http://github.com/rustyhorde/vergen"
keywords = ["cargo", "instructions", "build", "tool"]
license = "MIT OR Apache-2.0"
name = "vergen"
readme = "README.md"
repository = "https://github.com/rustyhorde/vergen"
version = "4.0.3"

[features]
default = ["build", "cargo", "git", "rustc"]
build = ["chrono"]
cargo = []
git = ["chrono", "git2"]
rustc = ["rustc_version"]

[dependencies]
bitflags = "1"
chrono = { version = "0", optional = true }
enum-iterator = "0"
getset = "0"
git2 = { version = "0", optional = true, default-features = false }
rustc_version = { version = "0.3.1", optional = true }
serde = "1"
serde_derive = "1"

[build-dependencies]
chrono = "0"

[dev-dependencies]
ctor = "0"
lazy_static = "1"
regex = "1"
rustversion = "1"

[package.metadata.cargo-all-features]
skip_optional_dependencies = true
