[package]
authors = ["Jason Ozias <jason.g.ozias@gmail.com>"]
categories = ["development-tools", "development-tools::build-utils"]
description = "Output vergen information in a formatted manner"
documentation = "https://docs.rs/vergen-pretty"
edition = "2021"
homepage = "https://github.com/rustyhorde/vergen"
keywords = ["cargo", "instructions", "build", "tool"]
license = "MIT OR Apache-2.0"
name = "vergen-pretty"
readme = "README.md"
repository = "https://github.com/rustyhorde/vergen"
version = "0.3.3"

[package.metadata.cargo-all-features]
denylist = ["unstable"]
skip_optional_dependencies = true
always_include_features = ["__vergen_test"]

[package.metadata.cargo-matrix]
[[package.metadata.cargo-matrix.channel]]
name = "default"
always_deny = ["unstable"]
always_include = ["__vergen_test"]

[[package.metadata.cargo-matrix.channel]]
name = "nightly"
always_deny = []
always_include = ["__vergen_test", "unstable"]

[[package.metadata.cargo-matrix.channel]]
name = "nightly-empty"
always_deny = []
always_include = ["__vergen_empty_test", "unstable"]

[features]
default = []
unstable = []
color = ["console", "lazy_static"]
header = ["console", "rand"]
trace = ["tracing"]
__vergen_test = ["vergen-gix", "vergen-gix/unstable"]
__vergen_empty_test = ["vergen-gix", "vergen-gix/unstable"]

[dependencies]
anyhow = "1.0.70"
console = { version = "0.15.5", optional = true }
convert_case = "0.6.0"
derive_builder = "0.13.0"
lazy_static = { version = "1.4.0", optional = true }
rand = { version = "0.8.5", optional = true }
serde = { version = "1.0.160", features = ["derive"], optional = true }
tracing = { version = "0.1.37", features = [
    "max_level_trace",
    "release_max_level_trace",
], optional = true }

[build-dependencies]
anyhow = "1.0.70"
rustversion = "1.0.12"
vergen-gix = { version = "1.0.0-beta.2", features = [
    "build",
    "cargo",
    "rustc",
    "si",
], optional = true }

[dev-dependencies]
lazy_static = "1.4.0"
regex = "1.8.1"
serde_json = "1.0.96"
tracing-subscriber = { version = "0.3.17", features = ["fmt"] }

[package.metadata.docs.rs]
features = ["color", "header", "serde", "trace"]
rustdoc-args = ["--cfg", "docsrs"]
