[package]
authors = ["Jason Ozias <jason.g.ozias@gmail.com>"]
categories = ["development-tools", "development-tools::build-utils"]
description = "Generate 'cargo:rustc-env' instructions via 'build.rs' for use in your code via the 'env!' macro"
documentation = "https://docs.rs/vergen"
edition = "2021"
homepage = "https://github.com/rustyhorde/vergen"
keywords = ["cargo", "instructions", "build", "tool"]
license = "MIT OR Apache-2.0"
name = "vergen"
readme = "README.md"
repository = "https://github.com/rustyhorde/vergen"
version = "8.0.0-beta.7"

[package.metadata.cargo-all-features]
denylist = [
    "git2",
    "git2-rs",
    "gitcl",
    "gix",
    "gitoxide",
    "rustc_version",
    "sysinfo",
    "time",
    "unstable",
]

[features]
default = []
build = ["time"]
cargo = []
git = []
gitcl = ["time"]
git2 = ["time", "git2-rs"]
gitoxide = ["time", "gix"]
rustc = ["rustc_version"]
unstable = []
si = ["sysinfo"]

[dependencies]
anyhow = "1.0.69"
git2-rs = { version = "0.16.1", package = "git2", optional = true, default-features = false }
gix = { version = "0.39.0", optional = true, default-features = false }
rustc_version = { version = "0.4.0", optional = true }
sysinfo = { version = "0.28.1", optional = true, default-features = false }
time = { version = "0.3.20", features = [
    "formatting",
    "parsing",
], optional = true }

[build-dependencies]
rustversion = "1.0.11"

[dev-dependencies]
gix = { version = "0.39.0", default-features = false, features = [
    "blocking-network-client",
] }
lazy_static = "1.4.0"
regex = "1.7.1"
serial_test = "1.0.0"

[package.metadata.docs.rs]
features = ["build", "cargo", "git", "gitcl", "rustc", "si"]
rustdoc-args = ["--cfg", "docsrs"]
