[package]
authors = ["Jason Ozias <jason.g.ozias@gmail.com>"]
categories = ["development-tools", "development-tools::build-utils"]
description = "Generate 'cargo:rustc-env' instructions via 'build.rs' for use in your code via the 'env!' macro"
documentation = "https://docs.rs/vergen"
edition = "2021"
homepage = "https://github.com/rustyhorde/vergen"
keywords = ["cargo", "instructions", "build", "tool"]
license = "MIT OR Apache-2.0"
name = "vergen"
readme = "README.md"
repository = "https://github.com/rustyhorde/vergen"
version = "8.2.8"

[package.metadata.cargo-all-features]
denylist = [
    "git",
    "git2",
    "git2-rs",
    "gitcl",
    "gix",
    "gitoxide",
    "rustc_version",
    "sysinfo",
    "time",
    "unstable",
]

[features]
default = []
build = ["time"]
cargo = []
git = []
gitcl = ["time"]
git2 = ["time", "git2-rs"]
gitoxide = ["time", "gix"]
rustc = ["rustc_version"]
unstable = []
si = ["sysinfo"]

[dependencies]
anyhow = "1.0.72"
git2-rs = { version = "0.18.0", package = "git2", optional = true, default-features = false }
gix = { version = "0.57.1", optional = true, default-features = false, features = [
    "revision",
    "interrupt",
] }
rustc_version = { version = "0.4.0", optional = true }
sysinfo = { version = "0.30.4", optional = true, default-features = false }
time = { version = "0.3.23", features = [
    "formatting",
    "local-offset",
    "parsing",
], optional = true }

[build-dependencies]
rustversion = "1.0.14"

[dev-dependencies]
gix = "0.57.1"
lazy_static = "1.4.0"
regex = "1.9.1"
repo_util = { path = "../repo_util" }
serial_test = "3.0.0"
temp-env = "0.3.6"

[package.metadata.docs.rs]
features = ["build", "cargo", "git", "gitcl", "rustc", "si"]
rustdoc-args = ["--cfg", "docsrs"]
