[package]
authors = ["Jason Ozias <jason.g.ozias@gmail.com>"]
categories = ["development-tools", "development-tools::build-utils"]
description = "Generate 'cargo:rustc-env' instructions via 'build.rs' for use in your code via the 'env!' macro"
documentation = "https://docs.rs/vergen"
edition = "2021"
homepage = "https://github.com/rustyhorde/vergen"
keywords = ["cargo", "instructions", "build", "tool"]
license = "MIT OR Apache-2.0"
name = "vergen"
readme = "README.md"
repository = "https://github.com/rustyhorde/vergen"
version = "9.0.0"

[package.metadata.cargo-all-features]
denylist = ["emit_and_set", "unstable"]
skip_optional_dependencies = true

[package.metadata.cargo-matrix]
[[package.metadata.cargo-matrix.channel]]
name = "default"
always_deny = ["emit_and_set", "unstable"]

[[package.metadata.cargo-matrix.channel]]
name = "nightly"
always_deny = ["emit_and_set"]
always_include = ["unstable"]

[features]
default = []
build = ["time", "vergen-lib/build"]
cargo = ["cargo_metadata", "getset", "regex", "vergen-lib/cargo"]
rustc = ["rustc_version", "vergen-lib/rustc"]
si = ["sysinfo", "vergen-lib/si"]
unstable = []
emit_and_set = ["vergen-lib/emit_and_set"]

[dependencies]
anyhow = "1.0.79"
cargo_metadata = { version = "0.18.1", optional = true }
derive_builder = "0.13.0"
getset = { version = "0.1.2", optional = true }
regex = { version = "1.10.3", optional = true }
rustc_version = { version = "0.4.0", optional = true }
sysinfo = { version = "0.30.5", optional = true, default-features = false }
time = { version = "0.3.34", features = [
    "formatting",
    "local-offset",
    "parsing",
], optional = true }
vergen-lib = { version = "0.1.0", path = "../vergen-lib" }

[build-dependencies]
rustversion = "1.0.14"

[dev-dependencies]
lazy_static = "1.4.0"
regex = "1.9.1"
test_util = { path = "../test_util" }
serial_test = "3.0.0"
temp-env = "0.3.6"

[package.metadata.docs.rs]
features = ["build", "cargo", "emit_and_set", "rustc", "si"]
rustdoc-args = ["--cfg", "docsrs"]
